body {
    user-select: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #000000;
    color: white;
}

.top img{
  filter: invert(98);
  opacity: 0.6;
  width: 300px;
  height: 300px;
  background-repeat: none;
  margin-left: 50px;
}

/* Loader icon */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
    z-index: 9999;
    transition: 100s;
	background: url(load1.gif) center no-repeat black;
}
/* Loader icon */

.button {
    border: none;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 2px;
    cursor: pointer;
}

.button3 {             
    text-decoration: none ;   
    padding: 2px 24px;
    border-radius: 5px;
    background-color: red; 
    color: black; 
    border: 2px solid white;
}
  
.button3:hover {
    background-color: black;
    color: black;    
    border: 2px solid red;        
    transition-duration: 0.5s;
}

li {
    list-style: none;
}

.header {
    background-color: black;
    color: green;
    height: 90px;        
    border: 2px solid white; 
}

.header-logo {
    font-weight: bolder;
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}

.header-menu li {
    font-weight: bold;
    float: right;
    padding-top: 13px;
    padding-bottom: 33px;
    padding-left: 10px;
    padding-right: 20px;
}

.header-menu a{
    text-decoration: none ;
    color: white;
}

.active a{
    text-decoration: none ;
    color: orange;
}

.header-menu a:hover{
    text-decoration: none ;
    color: orange;
}

.active a:hover{
    text-decoration: none ;
    color: red;
}

.main {
    padding-top: 20px;
    padding-bottom: 50px; 
    padding-left: 50px;
    padding-right: 50px;    
}
h1{
  color:rgb(112, 101, 101);
}

h2{
  color:burlywood;
}

.tsn{
  float: none;
}

span{
  color:darkolivegreen;
}

.footer {
  border: 2px solid white; 
  background-color: black;
  color: green;
  height: 120px;
}

.footer-cright {
  font-weight: bold;        
  text-align: left;        
  padding-left: 30px;
}

.footer-left{
  margin-left:-130px;
}
.footer-left pre{
  color: green;
  padding: 5px;
  font-size: 18px;
}

.footer-links a{
display:inline-block;
line-height: 1.8;
  font-weight:400;
text-decoration: none;
color:  inherit;
}

.footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-links .link-1:before {
  content: none;
}


.amount {
  font-size: 22px;
}

.amount strong {
  font-size: 24px;
}

.card-back {
  top: 40px;
  right: 0;
  z-index: -2;
}

.card-btn {
  text-decoration: none;
  background-color: darkolivegreen;
  color: white;
  top: 310px;
  position: absolute;
  bottom: -55px;
  right: 0;
  width: 100px;
  border-radius: 6px;
  border: 2px solid white;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

.card-btn:hover {
  background-color: darkgreen;
  color: white;
  bottom: -55px;
  right: 0;
  top: 2;
  width: 100px;
  border-radius: 6px;
  border: 2px solid white;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

.card-cvc {
  width: 60px;
  margin-bottom: 0;
}

.card-front{
  position: absolute;
  background-image: url(https://img.freepik.com/free-vector/wave-textures-white-background-vector_53876-60286.jpg?size=626&ext=jpg);
  background-repeat: no-repeat ;
  background-size: cover;
  width: 430px;
  height: 260px;
  border-radius: 6px;
  padding: 20px 30px 10px;
  box-sizing: border-box;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 300;
  color: Black;
  font-weight: normal;
  border: 2px solid white;
}

.card-back{
  position: absolute;
  background-image: url(https://img.freepik.com/free-vector/wave-textures-white-background-vector_53876-60286.jpg?size=626&ext=jpg);
  background-repeat: no-repeat ;
  background-size: cover;
  width: 430px;
  height: 260px;
  border-radius: 6px;
  padding: 20px 30px 10px;
  box-sizing: border-box;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 300;
  color: white;
  border: 2px solid white;
}

.card-image {
  float: right;
  height: 100%;
}

.card-image i {
  font-size: 40px;
}

.card-month {
  width: 45% !important;
}

.card-number,
.card-holder {
  width: 100%;
}

.card-stripe {
  width: 100%;
  height: 55px;
  background-color: black;
  position: absolute;
  right: 0;
}

.card-success {
  color: #00b349;
}

.card-token {
  display: none;
}

.card-year {
  width: 45%;
  float: right;
}

.cardholder-container {
  width: 60%;
  display: inline-block;
}

.cvc-container {
  position: absolute;
  width: 110px;
  right: -105px;
  bottom: -10px;
  padding-left: 20px;
  box-sizing: border-box;
}

.cvc-container label {
  width: 100%;
}

.cvc-container p {
  font-size: 10px;
  opacity: 0.6;
  letter-spacing: .5px;
}

.form-container {
  float: right;
  margin-top: 50px;
  width: 530px;
  height: 290px;
  position: relative;
}

.divide{
  border-right: 10px solid red;
  float: left;
}

.exp-container {  
  margin-left: 10px;
  width: 32%;
  display: inline-block;
  float: right;
}

.hidden {
  display: none;
}

.image-container {
  width: 100%;
  position: relative;
  height: 65px;
  margin-bottom: 5px;
  line-height: 55px;
}

.image-container img {
  position: absolute;
  right: 0;
  top: 0;
}

input[type=number]{
    width: 50%;
    border: none;
    outline: none;
    background-color: darkolivegreen;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin: 0 0 25px;
    color: white;
    font-size: 12px;
    box-sizing: border-box;
    border-radius: 4px;
    letter-spacing: .7px;
  }

  
input[type=checkbox]{
  width: 15%;
    border: none;
    outline: none;
    background-color: darkolivegreen;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin: 0 0 25px;
    color: white;
    font-size: 12px;
    box-sizing: border-box;
    border-radius: 4px;
    letter-spacing: .7px;
}
  .check{
    font-weight: bold;
    margin-top:-50px;
    margin-left: 50px;
    width: 100%;
    height: 0px;
    color: darkolivegreen;
    font-size: 15px;
    letter-spacing: .7px;
    float: left;
  }
  
input {
  border: none;
  outline: none;
  background-color: darkolivegreen;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin: 0 0 25px;
  color: white;
  font-size: 12px;
  box-sizing: border-box;
  border-radius: 4px;
  letter-spacing: .7px;
}


input::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.7;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 10px;
}

input:-moz-placeholder {
  color: #fff;
  opacity: 0.7;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 10px;
}

input::-moz-placeholder {
  color: #fff;
  opacity: 0.7;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 10px;
}

input:-ms-input-placeholder {
  color: #fff;
  opacity: 0.7;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 10px;
}

label {
  display: block;
  margin: 0 auto 7px;
}

.shadow {
  position: absolute;
  right: 0;
  width: 284px;
  height: 214px;
  top: 36px;
  background-color: #000;
  z-index: -1;
  border-radius: 8px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.top{
  float:left;
}

th{
  border: 6px solid white;
  border-style: solid;
  padding: 10px;
  text-align: left;
  width: 45%;
}
tr,td{
  border: 2px solid lightgreen;
  border-style: solid;
  padding: 10px;
  text-align: left;
  width: 45%;
}