
.overlay-image {
  position: relative;
  width: 100%;
 }
 .overlay-image .image {
  display: block;
  width: 100%;
  height: auto;
 }
 .overlay-image .text {
  color: #fff;
  font-size: 14px;
  line-height: 1.5em;
  text-shadow: 2px 2px 2px #000;
  text-align: left;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
 }
 .overlay-image .hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
 }
 .overlay-image:hover .hover {
  opacity: 1;
  background-color: black;
 }
 .overlay-image .normal {
  transition: .5s ease;
 }
 .overlay-image:hover .normal {
  opacity: 0;
 }
 .overlay-image .hover {
   opacity: 0;
  background-color: rgba(0,0,0,0.5);
 }






.price, h4{
    color: darkcyan;
    font-weight: bolder;
}
/* resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Grid layout */
.grid {
  display: grid;
  grid-auto-columns: 1fr 200px;
}

.content {
  grid-column: 1;
}


.grid > * {
  border: 0px; /* demo only */
}

/* Product Grid */

h1 {
  font-weight: 500;
  font-size: 20px
}

ul.rig {
  list-style: none;
  font-size: 0px;
  /* should match li left margin */
}

ul.rig li {
  display: inline-block;
  padding: 10px;
  margin: 0 0 2.5% 2.5%;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  box-shadow: 0 0 0px #000000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

ul.rig li img {
  max-width: 100%;
  height: auto;
  border-image-repeat: none;
  margin: 0 0 10px;
}


ul.rig li h3 {
  margin: 0 0 10px;
}

ul.rig li p {
  font-size: 1.0em;
  line-height: 1.5em;
  color: darkcyan;
}


/* class for 2 columns */

ul.rig.columns-2 li {
  width: 47.5%;
  /* this value + 2.5 should = 50% */
}


/* class for 3 columns */

ul.rig.columns-3 li {
  width: 30.83%;
  /* this value + 2.5 should = 33% */
}


/* class for 4 columns */

ul.rig.columns-4 li {
  width: 22.2%;
  /* this value + 2.5 should = 25% */
  background-color: transparent;
    border: 4px solid white;
    border-radius: 5px;
}

/* @media (max-width: 680px) {
  ul.grid-nav li {
    display: inline-block;
  }
  ul.grid-nav li a {
    display: inline-block;
    margin: 0 0 5px;
  }
  ul.rig {
    margin-left: 0;
  }
  ul.rig li {
    width: 100% !important;
    /* over-ride all li styles
    margin: 0 0 10px;
  }
} */
.ppd{
  padding-left: 0px;
  float: left;
}
.addtoc a{
    text-decoration: none;
    font-weight: bold;
    text-decoration: none ;  
    padding: 2px 15px;
    background-color: skyblue; 
    color: black; 
    border: 2px solid whitesmoke;
    border-radius: 15px;
    text-align: center;
    float: right;
}

.container{
    margin-left:-72px;
    margin-right: -88px;
}














iframe{
    margin-left: 270px;
    padding-right: 0px;
    width: 80%;
}

.main-book{     
    margin-left: 350px;
    color: grey;
}

.main-book h2{    
    font-weight: 600;    
    font-size: 35px;
    color: grey;
}

.main-book h3{    
    color: white;
    font-weight: normal;    
    font-size: 30px;
}

.main-book span{
    color: orangered;    
    font-weight: normal;
    font-size: 30px;
}

.main-book p{
    text-align: justify;
    color: skyblue;    
    font-weight: 200;
    font-size: 25px;
}


.sidebar {   
  float: left;
  border-radius: 5px;
  border: 4px solid gold;
  height: 194px;
  width: 223px;
  background-color: #111;
}

.sidebar a {
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
  color: goldenrod;
  display: block;
}

.sidebar a:hover {
  background-color: gold;    
  font-size: 20px;
  font-weight: 300;
  color: black;
  font-weight: bold;
} 

body {
    user-select: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #000000;
    color: white;
}

/* Loader icon */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
    z-index: 9999;
    transition: 100s;
	background: url(load1.gif) center no-repeat black;
}
/* Loader icon */

.button {
    border: none;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 2px;
    cursor: pointer;
}

.button3 {             
    text-decoration: none ;   
    padding: 2px 24px;
    border-radius: 5px;
    background-color: red; 
    color: black; 
    border: 2px solid white;
}
  
.button3:hover {
    background-color: black;
    color: black;    
    border: 2px solid red;        
    transition-duration: 0.5s;
}

li {
    list-style: none;
}

.header {
    background-color: black;
    color: green;
    height: 94px;        
    border: 2px solid white; 
}

/*.header:hover{
    background-color: #000000;
}*/

.header-logo {
    font-weight: bolder;
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}

.header-menu li {
    font-weight: bold;
    float: right;
    padding-top: 13px;
    padding-bottom: 33px;
    padding-left: 10px;
    padding-right: 20px;
}

.header-menu a{
    text-decoration: none ;
    color: white;
}

.active a{
    text-decoration: none ;
    color: orange;
}

.header-menu a:hover{
    text-decoration: none ;
    color: orange;
}

.active a:hover{
    text-decoration: none ;
    color: red;
}

.main {
    padding-top: 20px;
    padding-bottom: 80px; 
    padding-left: 0px;
    padding-right: 80px;

}

.right-img img{
    border-radius: 500px;
    float: right;
    height: 250px;
    width: 250px;
    padding: 20px;
}

.left-img img{
    border-radius: 500px;
    float: left;
    height: 250px;
    width: 250px;
    padding: 20px;
}

.contents-item p{        
    text-align: justify;
}

.intro-txt h2 {
    font-size: 30px;
}

.intro-txt span {
    color: #ff4a4a;
}

.contents {
    height: 500px;
    margin-top: 100px;
}

.contents-item {
    float: left;
    
}

.contents-item p {
    font-size: 20px;
    margin-top: 30px;
}
    
.footer {
      border: 2px solid white; 
      background-color: black;
      color: green;
      height: 120px;
  }
  
  .footer-cright {
      font-weight: bold;        
      text-align: left;        
      padding-left: 30px;
  }
  
  .footer-left{
      margin-left:-130px;
  }
  .footer-left pre{
      color: green;
      padding: 5px;
      font-size: 18px;
  }
  
  .footer-links a{
    display:inline-block;
    line-height: 1.8;
      font-weight:400;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-links a:before {
      content: "|";
      font-weight:300;
      font-size: 20px;
      left: 0;
      color: #fff;
      display: inline-block;
      padding-right: 5px;
    }
    
  .footer-links .link-1:before {
      content: none;
    }

    @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
    @import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);
    #wrap {
      margin-top: 100px;
      margin-right: -30px;
      display: inline-block;
      position: relative;
      height: 30px;
      float: right;
      padding: 0;
      position: relative;
    }
    
    input[type="text"] {
      height: 30px;
      font-size: 20px;
      display: inline-block;
      font-weight: normal;
      border: none;
      outline: none;
      color: white;
      padding: 3px;
      padding-right: 0px;
      width: 20px;
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      z-index: 3;
      transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
      cursor: pointer;
    }
    
    input[type="text"] {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-style: normal;
      width: 200px;
      z-index: 1;
      color: white;
      border-bottom: 1px solid grey;
      cursor: text;
    }
    input[type="text"]:focus{
      color: white;
      border-bottom: 1px solid red;
    }

    input[type="submit"] {
      outline: none;
      height: 30px;
      width: 50px;
      display: inline-block;
      color:red;
      float: right;
      background: url(search.png) center center no-repeat;
      text-indent: -10000px;
      border: none;
      position: absolute;
      z-index: 2;
      cursor: pointer;
      opacity: 1;
      cursor: pointer;
      transition: opacity .4s ease;
    }
    
    input[type="submit"]:hover {
      opacity: 0.8;
    }