* {
    box-sizing: border-box;
  }
  
  body {
    user-select: none;
    margin: 0;
  }  

  /* Loader icon */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
    z-index: 9999;
    transition: 100s;
	background: url(load1.gif) center no-repeat black;
}
/* Loader icon */

  #container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .clearfix {
    clear: both;
  }
  
  .hidden {
    display: none;
  }
  
  #user-info {
    border: 1px solid #CCC;
    clear: both;
    margin: 0 auto 20px;
    max-width: 400px;
    padding: 10px;
    text-align: left;
  }
  
  #photo-container {
    background-color: #EEE;
    border: 1px solid #CCC;
    float: left;
    height: 80px;
    margin-right: 10px;
    width: 80px;
  }
  
  #photo {
    height: 80px;
    margin: 0;
    width: 80px;
  }
  
  @media (max-width: 300px) {
    #photo-container,
    #photo {
      height: 40px;
      width: 40px;
    }
  }